:root {
    --mask-circle-intensity: 0.8;
    --mask-opacity: 0.75;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/font/BarlowCondensed/BarlowCondensed-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}


@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body{
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100vw;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    
} 

.navbar{
    font-family: "Montserrat";
    font-weight: 400;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    transition:  text-shadow 0.2s;
    cursor: pointer;
}

.navbar a:hover {
    text-shadow: -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff, -0.5px 0.5px 0 #ffffff, 0.5px 0.5px 0 #ffffff;
}

.dropdown {
    position: relative;
    
}

.dropdown-content {
    display: none;
    flex-flow: column;
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.123); 
    backdrop-filter: blur(8px);
    z-index: 10; 
    padding: 0; 
}

.dropdown:hover .dropdown-content {
    display: flex; 
}

.dropdown-content a {
    color: white; 
    padding: 12px 16px; 
    margin: 0;
    text-decoration: none; 
    display: block; 
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.center{
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.center-bottom{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse;
    width: 100% !important; 
    bottom: 0;
    left: 0;
    
}


.pf{
    border-radius: 50%;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
}

.name{
    font-size: clamp(30px, 3vw, 3vw);
    font-family: "Barlow Condensed";
    font-weight: 600;
    letter-spacing: clamp(4px, 10px, 30px);
    padding-bottom: 10px;
}

.sub-name{
    font-size: clamp(10px, 2vw, 1vw);
    font-family: "Montserrat";
    font-weight: 400;
}

.bodyholder {
    display: flex;
    flex-direction: column;
    position: relative; /* positioning context */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 3s ease-in-out; 
}

.slide.active{
    opacity: 1;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}


.section-content {
    position: relative;
    z-index: 2;
    padding: 40px;
    text-align: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.background{
    z-index: 1;
}

.blur{
    backdrop-filter: blur(5px);
}

.spotlight-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, var(--mask-opacity));
    z-index: 2;
    mask: radial-gradient(circle closest-side at var(--xPos) var(--yPos), rgba(0, 0, 0, calc(1 - var(--mask-circle-intensity))) 0em, rgb(0, 0, 0) 100em);
}

.section-content{
    z-index: 3;
    width: 100svw;
}

.icons-container{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.social-icon{
    min-width: 40px;
	min-height: 40px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 10px;
}

.scroll-down{
    display: block;
    min-width: 20px;
	min-height: 20px;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	transform: rotate(45deg);
    animation: animate 3s infinite;
    margin-bottom: 30px;
}

.tab-group {
    opacity: 0;
    display: none; 
    transition: opacity 0.3s ease-in-out;
}

.tab-group.active {
    opacity: 1;
    display: block;
}

.game-gallery-container {
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 80px auto;
    padding: 30px;
}

.reverse{
    flex-flow: row-reverse;
}

.gallery-left {
    flex: 2;
}

.main-image-container {
    position: relative;
    width: 100%;
}

.main-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.mobile{
    aspect-ratio: 19/9 !important;
}

.gallery-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.274);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 40px;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.75s, background-color 0.75s;
}

.gallery-nav-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.308);
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.thumbnails {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

.thumbnails:hover {
    overflow-x: auto; 
}

.thumbnails::-webkit-scrollbar {
    height: 8px;
}

.thumbnails::-webkit-scrollbar-track {
    background: #d4d4d4;
    border-radius: 4px;
}

.thumbnails::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 4px;
}

.thumbnails::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
}

.thumbnail {
    flex: 0 0 auto; 
    width: 150px;
    aspect-ratio: 16/9;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s;
}

.thumbnail:hover {
    opacity: 0.8;
}

.thumbnail.active {
    opacity: 0.5;
}

.gallery-right {
    text-align: left;
    flex: 1;
    padding: 20px;
}

.details-title {
    font-family: "Barlow Condensed";
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 16px;
    color: #000000;
}

.details-description {
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.6;
    color: #1f1f1f;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-10px, -10px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(10px, 10px);
	}
}

.hide{
    display: none !important;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
    .spotlight-mask{
        background-color: rgba(0, 0, 0, 0.384);
    }
    
    .social-icon{
        min-width: 30px;
        min-height: 30px;
        margin: 0 15px;
    }
    
    .game-gallery-container {
        flex-direction: column;
        padding: 10px;
    }

    .gallery-left, .gallery-right {
        width: 100%;
    }
    
    .thumbnail {
        width: 100px;
    }
    

}


