@import url("fonts.css");

:root {
    --mask-circle-intensity: 0.8;
    --mask-opacity: 0.75;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body{
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100vw;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    color: white;
} 

body.noscroll{
    overflow:hidden;
}

.cursor{
    pointer-events: none;
   
}

.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out; 
    mix-blend-mode: difference;
    z-index: 1999 !important;
}

.cursor__ball circle {
    fill: #f7f8fa;

}

.cursor-ball-small{
    background-color: white;
    border-radius: 50%;
    min-height: 10px; 
    min-width: 10px;
}

.cursor-ball-big{
    background-color: white;
    border-radius: 50%;
    min-height: 30px; 
    min-width: 30px;
    transition: min-height 0.5s, min-width 0.5s;
}

.cursor-hovering {
    min-height: 90px; 
    min-width: 90px;
}

.full-screen{
    height: 100svh; 
    width: 100vw;
}

.half-screen{
    width: 50vw !important;
    min-width: 900px;
}

.navbar{
    font-family: "Montserrat";
    font-weight: 400;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.navbar.navbar-hide {
    opacity:0;
}
  
.navbar-link{
    mix-blend-mode: difference;
    padding: 20px !important;
    text-decoration: none;
    color: white;
}

.navbar a.active{
    font-weight: 700;
}

.navbar a:hover {
    background-color: blue;
}


.dropdown-content {
    display: none;
    flex-flow: column;
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.473); 
    z-index: 10; 
    padding: 0; 
}

.open-dropdown {
    display: flex; 
    z-index: 100;
}

.dropdown-content a {
    color: white; 
    padding: 20px; 
    margin: 0;
    text-decoration: none; 
    display: block; 
}

.dropdown-content a:hover {
    background-color: blue; 
}

.center{
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.center .logo img{
    max-width: 25vw;
}

.center-bottom{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse;
    width: 100% !important; 
    bottom: 0;
    left: 0;
}

.center-bottom .additional-info{
    text-decoration: none;
    color: white;
    padding: 15px 5px;
    flex: 0 0 100%; 
    font-size: 14px; 
    font-family: "Montserrat";
    font-weight: 400;
}

.scroll-container-snap{
    scroll-snap-type: x mandatory;
}

.scroll-item-snap{
    scroll-snap-align: start;
  scroll-snap-stop: always;
}

.pf{
    object-fit: cover;
    width: auto;
    height: auto;
    z-index: 200;
}

.round{
    border-radius: 50%;
}

.bnw{
    filter: grayscale(100%);
}

.pf.square{
    min-width:250px;
    min-height:250px;
    max-width:250px;
    max-height:250px;
}

.pf.wide{
    border-radius: 0px;
    max-width: 90svw;
    max-height:300px;
    min-height:300px;
    transition: border-radius 0.3s ease;
}

.pf.wide:hover{
    border-radius: 25px;
}



.name{
    font-size: clamp(30px, 3vw, 3vw);
    font-family: "Barlow Condensed";
    font-weight: 600;
    letter-spacing: clamp(4px, 10px, 30px);
    padding-bottom: 10px;
}

.sub-name{
    font-size: clamp(10px, 2vw, 1vw);
    font-family: "Montserrat";
    font-weight: 400;
    padding: 0 15vw;
}

.left{
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: left;
    flex-flow: column;
    
}

.about-title{
    font-size: clamp(40px, 2vw, 1vw);
    font-family: "Montserrat";
    font-weight: 600;
    padding: 40px 0;
}

.about-desc{
    font-size: clamp(18px, 2vw, 1vw);
    font-family: "Montserrat";
    font-weight: 400;
}



.about-desc b{
    font-weight: 600;
}

.about-left{
    text-align: left; 
    padding-bottom: 40px;
}

.bodyholder {
    display: flex;
    flex-direction: column;
    position: relative; /* positioning context */
}

.slideshow-main{
    background-color: black;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 3s ease-in-out; 
}

.slide.active{
    opacity: 1;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: auto;
}

.screen-height{
    min-height: 100svh;
}

.fit-content{
    min-height: fit-content !important;
}



.section-content {
    z-index: 3;
    width: 100svw;
    flex: 1;
    display: flex;        
    justify-content: center;
    align-items: center; 
    position: relative;
    z-index: 2;
    padding: 40px;
    text-align: center;
}

.background {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    object-fit: cover;
    background-color: #272727;
}

.grain-overlay {
    content: "";
    position: fixed;
    width: 200vw;
    height: 200vh;
    left: -50%;
    top: -50%;
    z-index: 2000 !important;
    pointer-events: none;
    opacity: 0.3; 
    background-image: url('/assets/img/noise.png');
    
    animation: grain 1s steps(10, jump-none) infinite;
}

@keyframes grain{
    0%, 100% { transform:  translate(0,0);}
    10% { transform: translate(-20%, 0%); }
    30% { transform: translate(0%, 15%); }
    50% { transform: translate(-18%, 0%); }
    70% { transform: translate(0%, 9%); }
    90% { transform: translate(-10%, 0%); }
}


.spacer{
    background-color: white;
    color: black;
    z-index: 3;
    height: 100px;
}

.blur{
    backdrop-filter: blur(5px);
}

.spotlight-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, var(--mask-opacity));
    z-index: 2;
    mask: radial-gradient(circle closest-side at var(--xPos) var(--yPos), rgba(0, 0, 0, calc(1 - var(--mask-circle-intensity))) 0em, rgb(0, 0, 0) 100em);
    opacity: 1;
}

.icons-container{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.social-icon{
    min-width: 40px;
	min-height: 40px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 10px;
}

.scroll-down{
    display: block;
    min-width: 20px;
	min-height: 20px;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	transform: rotate(45deg);
    animation: animate 3s infinite;
    margin-bottom: 30px;
}

.tab-group {
    opacity: 0;
    display: none; 
    transition: opacity 0.3s ease-in-out;
}

.tab-group.active {
    opacity: 1;
    display: block;
}

.game-card-container {
    background-color: white;
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 80px auto;
    padding: 30px;
    color: rgb(24, 24, 24);
    /* box-shadow: 10px 10px 50px #00000044; */
}

.game-card-container.featured{
    padding: 25px 0px;
}

.card-tilt{
    transform-style: preserve-3d;
    transition: transform 0.2s ease;
}

.game-info{
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column;
    gap: 30px;
    color: rgb(255, 255, 255);
}

.game-images-container.game-info, .game-details-container.game-info{
    padding: 0 8%;
}

.game-details-container.game-info{
    display: flex;
    flex-direction: row;
}

.game-details-main.game-info{
    flex: 2;
}

.game-details-primary.game-info{
    padding-left: 25px;
    flex: 1;
    min-width: fit-content;
    border-left: solid 1px rgba(255, 255, 255, 0.3);
}

.background.game-info{
    filter: brightness(75%);
    position: fixed;
}

.game-card-container.featured{
    max-width: 100%;
    margin: 0px auto;
    background-color: #00000000;
    color: white !important;
}

.reverse{
    flex-flow: row-reverse;
}

.game-images-container {
    flex: 2;
}

.main-image-container {
    position: relative;
    width: 100%;
}

.main-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.mobile{
    aspect-ratio: 19/9 !important;
}

.gallery-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.753);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 40px;
    height: 100%;
    font-size: 20px;
    transition: color 0.75s, background-color 0.75s;
    font-family: "Montserrat";
    font-weight: 600;
}

.gallery-nav-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.308);
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.thumbnails {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

.thumbnails:hover {
    overflow-x: auto; 
}

.thumbnails::-webkit-scrollbar {
    height: 8px;
}

.thumbnails::-webkit-scrollbar-track {
    background: #d4d4d4;
    border-radius: 4px;
}

.thumbnails::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 4px;
}

.thumbnails::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
}

.thumbnail {
    position: relative;
    flex: 0 0 auto; 
    width: 150px;
    aspect-ratio: 16/9;
    object-fit: cover;
    outline: 3px solid rgba(255, 255, 255, 0);
    outline-offset: -3px;
    opacity: 1;
    transition: outline 0.3s ease-out, opacity 0.3s ease-out;
}


.featured .thumbnail {
    width: 100px;
}

.thumbnail:hover {
    opacity: 0.5;
}

.thumbnail.active {
    outline: 3px solid rgb(255, 255, 255);
}

.game-details-container {
    text-align: left;
    flex: 1;
    padding: 20px;
}


.art-section {
    --padding-side: 10%;
    padding-top: 60px;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    flex: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.featured.art-section {
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
    flex: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid-item-container{
    padding: 20px;
    height: auto;
    display: flex;
    flex-flow: column;
    text-align: left;
}

.grid-item-container.art{
    flex: 0 1 calc(100%/4);
}

.grid-item-container.game{
    flex: 0 1 calc(100%/3);
    position: relative;
}

.featured .grid-item-container{
    padding: 10px;
    flex: 0 1 calc(100%/3);
}

.grid-item-container.desc-group{
    direction:ltl;
    text-align: justify;
}

.grid-item-container.artwork{
    flex: 0 0 calc(100%/3);
}

.grid-item-container.banner{
    flex: 0 0 calc(100%/2);
}

.grid-item-container.artwork{
    padding: 5px;
}

.grid-item-container.title{
    flex: 0 0 100%; 
    font-size: 48px; 
    letter-spacing: 3px;
    font-family: "Barlow Condensed";
    font-weight: 600;
}

.grid-item-container.description{
    padding: 5px 20px;
    flex: 0 0 100%; 
    font-size: 14px; 
    font-family: "Montserrat";
    font-weight: 400;
}

.grid-item-container.last-description{
    padding-bottom: 25px !important;
}

.grid-content {
    overflow: hidden; 
    margin-bottom: 10px;
}

.game-preview{
    aspect-ratio: 16/9;
    object-fit: cover;
}


.grid-content img, video {
    position: relative;
    display: block;
    height: auto; 
    width: 100%; 
    
}

.game-preview.image-preview{
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px); 
    object-fit: cover;
}


.grid-content.artworks{
    margin-bottom: 0px !important;
}

.youtube-embed {
position: relative;
padding-bottom: 56%;
width: 100%;
text-align: left;
}

.youtube-embed iframe {
width: 100%;
position: absolute;
height: 100%;
overflow: hidden;
}

.hover-zoom{
    transition: transform 0.5s ease;
}

.hover-zoom:hover {
    transform: scale(1.1);
}

.grid-content.game img {
    opacity: 0;
    transition: opacity 0.5s;
}


.grid-content.game:hover img {
    opacity: 1;
}


.grid-content.banner{
    max-height: 250px !important; 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: black;
}

.grid-content.banner img{
    max-width: 100%; 
    max-height: 100%;
    height: auto; 
    width: 100%; 
    opacity: 0.5;
}


.grid-content.banner div{
    position: absolute; 
    color: white; 
    text-align: center; 
    font-size: 48px; 
    letter-spacing: 5px;
    font-family: 'Barlow Condensed'; 
    font-weight: 600; 
    text-shadow: 0px 0px 10px black;
}

.grid-content.force-square:hover img {
    transform: translate(-50%, -50%) scale(1.1); 
}
 
.grid-content.force-square{ 
    aspect-ratio : 1 / 1;
    position: relative;
}
 
.grid-content.force-square img{
    height: 100%;
    width: auto; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
}
 
 .grid-item-container h1{
    text-transform: uppercase;
    font-family: "Barlow Condensed";
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 5px;
 }
 
 .grid-item-container h3{
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 1.2;
    font-size: 12px;
    padding-bottom: 7.5px;
 }
 
 
 .grid-item-container h4 {
    display: list-item;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.2;
    list-style-type: disc;
    font-size: 12px;
 }
 
 .grid-item-container.artwork h1{
    padding-bottom: 10px;
    font-size: 36px;
 }
 
 .grid-item-container.artwork h3{
    font-size: 18px;
 }
 
 
 .grid-item-container.artwork h4 {
    font-size: 14px;
 }

.details-title {
    font-family: "Barlow Condensed";
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 16px;
}

.details-description {
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.6;
}

.featured .details-title {
    font-family: "Barlow Condensed";
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.featured .details-description {
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.3;
    font-size: 14px;
}

.selected-image-container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    min-width: 100svw;
    position: fixed;
    z-index: 105;
    padding: 60px;
    background-color: rgba(8, 8, 8, 0.8);
}

.selected-image-container .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.selected-image-container .image img {
    object-fit: contain;
    max-height: calc(100dvh - 120px);
    max-width: 100%;
}

.selected-image-container .close {
    font-family: "Montserrat";
    position: absolute;
    padding: 25px;
    top: 25px;
    right: 30px;
}


.selected-image-container .arrow-container {
    position: absolute;
    top: 50%;
    padding: 25px;
    transform: translateY(-50%);
}

.selected-image-container .arrow-container.prev {
    left: 20px;
}

.selected-image-container .arrow-container.next {
    right: 20px; 
}

.arrow.prev {
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent rgba(255, 255, 255, 0.4) transparent transparent;
}

.arrow.next {
    border-style: solid;
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
}

form{
    display: flex;
    width: 50%;
    gap: 25px;
    flex-flow: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.151);
    padding: 50px;
}

form input, textarea{
    background-color: rgba(255, 255, 255, 0.596);
    font-family: "Montserrat";
    border: 0px;
    padding: 15px;
    font-size: 18px;
}

textarea:focus, input:focus{
    outline: none;
    border-style: solid;
    border-width: 3px;
    padding: 12px;
    border-color: rgba(255, 255, 255, 0.623);
    box-sizing: border-box;
}

form input{
    height: 40px;
}



form textarea{
    height: 200px;
    resize: vertical;
}

form .submit{
    height: 50px;
    background-color: rgb(55, 153, 55);
    color: white;
    cursor: none;
}

.form-title{
    font-size: clamp(30px, 3vw, 3vw);
    font-family: "Barlow Condensed";
    font-weight: 600;
    padding-bottom: 10px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-10px, -10px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(10px, 10px);
	}
}

.hide{
    display: none !important;
}

.fade-text span {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    font-weight: 700;
  }

.fade-text span.show {
opacity: 1;
}

.word-list{
    white-space: pre-wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}

.word-list p{
    font-size: clamp(18px, 32px, 18px);
    font-family: "Montserrat";
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 0;
    color: black;
    background-color: white;
    transition: border-radius 0.5s;
}

.word-list p:hover{
    border-radius: 50px;
}



.word-list.game{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.word-list.game p{
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 0px;
    color: black;
    background-color: rgba(255, 255, 255, 0.596);
}



.icon-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.icon-list img{
    width: calc(calc(100% / 8) - 10px);
    height: auto;
    border-radius: 0px;
    transition: border-radius 0.5s;
}

.icon-list img:hover{
    border-radius: 15px;
}

.clock-holder{
    width: 100%;
    padding: 60px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.clock {
    padding: 20px;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #00000048;
    box-shadow: -14px 20px 41px -1px rgba(0, 0, 0, 0.75), 20px -14px 41px -1px rgba(255, 255, 255, 0.4), -14px 20px 41px -1px rgba(0, 0, 0, 0.75) inset, 20px -14px 41px -1px rgba(255, 255, 255, 0.25) inset;
    -webkit-box-shadow: -14px 20px 41px -1px rgba(0, 0, 0, 0.75), 20px -14px 41px -1px rgba(255, 255, 255, 0.4), -14px 20px 41px -1px rgba(0, 0, 0, 0.75) inset, 20px -14px 41px -1px rgba(255, 255, 255, 0.25) inset;
    -moz-box-shadow: -14px 20px 41px -1px rgba(0, 0, 0, 0.75), 20px -14px 41px -1px rgba(255, 255, 255, 0.4), -14px 20px 41px -1px rgba(0, 0, 0, 0.75) inset, 20px -14px 41px -1px rgba(255, 255, 255, 0.25) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock h1{
    font-size: 80px;
    font-family: "Montserrat";
    font-weight: 600;
}

.clock h3{
    text-transform: lowercase;
    padding: 30px 0px;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 400;
}

.calling-card-container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    padding: 100px 0; 
}

.callingCard {
    --multiplier: 0.6;
    height: calc(600px * var(--multiplier));
    width: calc(1050px * var(--multiplier));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid rgb(107, 107, 107);
    transform-style: preserve-3d;
    transition: transform 0.1s ease, border-radius 0.3s ease;
    position: relative;
}

.callingCard:hover {
    border-radius: 0px;
}

.callingCard-face {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.front {
    background-image: url('/assets/img/ccf3.gif');
}

.back {
    background-image: url('/assets/img/ccb.png');

}

.callingCard img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.floating-button{
    display: flex;
    mix-blend-mode: difference;
    color: #000000;
    background-color: rgb(255, 255, 255); 
    padding: 10px 15px;
    align-items: center;
    justify-content: center; 
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 600;
}

.scroll-to-top{
    z-index: 500; 
    bottom: 30px; 
    right: 30px;
    position: fixed; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out ;
}

.scroll-to-top.show {
    opacity: 1;
  }

.red{
    background-color: red !important;
}
  
.floating-button:hover {
    background-color: blue;
    color: white;
}

.page-nav-button{
    max-width: fit-content;
    position: absolute;
}

.page-nav-button.prev{
    left:0;
}

.page-nav-button.next{
    right:0;
}

.page-nav-button.more{
    transform: translateX(50%);
    right: 50%;
}



.no-click{
    pointer-events: none;
}

.testimonial{
    text-align: left; 
    border: solid 1px white; 
    padding: 50px;
    border-radius: 0;
    transition: border-radius 0.5s ease, transform 0.1s ease;
}

.testimonial:hover{
    border-radius: 20px;
}

/* MEDIA QUERIES */
@media (min-width: 821px) {
    html, body, a, button{
        cursor: none !important;
    }
}

@media (max-width: 820px) {
    
    
    .navbar{
        height: 75px
    }
    
    .navbar-link{
        font-size: smaller;
        padding: 15px !important;
    }


    .dropdown-content a {
        padding: 15px; 
    }
    
    .spotlight-mask{
        background-color: rgba(0, 0, 0, 0.384);
    }

    .background{
        background-color: #313131;
    }
    
    .social-icon{
        min-width: 30px;
        min-height: 30px;
        margin: 0 15px;
    }
    
    .game-card-container {
        flex-direction: column;
        padding: 10px;
    }

    .game-details-container.game-info{
        flex-direction: column;
    }

    
    .game-details-primary.game-info{
        padding-left: 0;
        padding-top: 25px;
        min-width: fit-content;
        border-left: none;
        border-top: solid 1px rgba(255, 255, 255, 0.3);
    }

    .game-images-container.game-info, .game-details-container.game-info{
        padding: 0 0;
    }

    .background.game-info{
        filter: brightness(90%);
    }
    

    .game-images-container, .game-details-container {
        width: 100%;
    }
    
    .thumbnail {
        width: 100px;
    }
    
    .sub-name{
        padding: 0;
        font-size: clamp(13px, 2vw, 1vw);
    }
    
    .about-title{
        font-size: clamp(25px, 2vw, 1vw);
        padding: 25px 0;
    }

    .about-desc{
        font-size: clamp(13px, 2vw, 1vw);
    }

    .about-left{
        padding-bottom: 0;
    }
    

    .pf.square{
        min-width:200px;
        min-height:200px;
        max-width:200px;
        max-height:200px;
    }
    
    .pf.wide{
        max-height:200px;
        min-height:200px;
    }
    
    .art-section {
        --padding-side: 0px;
        margin: 0 -20px;
        padding-left: var(--padding-side);
        padding-right: var(--padding-side);
    }

    .grid-item-container{
        padding: 10px;
    }
    
    .game-preview.image-preview{
        top: 10px;
        left: 10px;
        width: calc(100% - 20px); 
    }
    

    .grid-item-container.art{
        flex: 0 1 calc(100%/2);
    }
    
    .grid-item-container.game{
        flex: 0 1 calc(100%/1);
    }


    .featured .grid-item-container{
        padding: 10px;
        flex: 0 1 calc(100%/1);
    }

    .grid-item-container.artwork{
        flex: 0 0 calc(100%/2);
    }

    .grid-item-container.desc-group{
        flex: 0 0 calc(100%/1);
        direction: ltr;
        text-align: justify;
    }
    

    .grid-item-container.title{
        font-size: 36px; 
    }

    .grid-content {
        margin-bottom: 15px;
    }
    
     
    .grid-item-container h1{
    font-size: 18px;
    padding-bottom: 7.5px;
    }
    
    .grid-item-container h3{
    font-size: 12px;
    padding-bottom: 7.5px;
    }
    
    
    .grid-item-container h4 {
    font-size: 12px;
    }

    .grid-item-container.banner{
        flex: 0 0 calc(100%);
    }

    .grid-content.banner{
        max-height: 150px !important; 
    }
    
    
    .grid-content.banner div{
        font-size: 32px; 
        letter-spacing: 5px;
    }
    
    .selected-image-container {
        padding: 20px;
    }
    
    .selected-image-container .image img {
        height: 100%;
        
    }
    
    .selected-image-container .close {
        top: 10px;
        right: 15px;
    }
    
    form{
        display: flex;
        width: 100%;
        gap: 25px;
        padding: 25px;
    }
    
    .half-screen{
        width: 100vw !important;
        min-width: 0px;
    }
    
    .word-list{
        padding-bottom: 30px;
    }

    .icon-list img{
        width: calc(calc(100% / 5) - 10px);
    }
    
    .center .logo img{
        max-width: 60vw;
    }
    
    .clock {
        background-color: #00000000;
        padding: 0px;
        width: 100%;
        box-shadow: -14px 20px 41px -1px rgba(0, 0, 0, 0);
        -webkit-box-shadow: -14px 20px 41px -1px rgba(0, 0, 0, 0);
        -moz-box-shadow: -14px 20px 41px -1px rgba(0, 0, 0, 0);

    }
    
    .clock-holder{
        width: 100%;
        padding: 0px; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    .callingCard {
        --multiplier: 0.3;
        border-radius: 7px;
        border: 1px solid rgb(107, 107, 107);
    }
    
}

.particle-circle {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    z-index: 150 ;
  }
  
.credits{
    position: fixed;
    z-index: 1500;
    font-family: "Montserrat";
    font-size: 12px;
    opacity: 10%;
}

.bot-r{
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    padding: 0px 6px;
}

.bot-l{
    left: 0;
    bottom: 0;
    transform: translateY(-50%);
    padding: 0px 6px;
}
